In [1]:
# Set python libraries to dynamically reload so that we can edit
# the external text file while calling the function in the notebook
# without having to restart the kernel
%load_ext autoreload
%autoreload 2

In [2]:
import sqlite3
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime



from functions import *
import seaborn as sns

In [3]:
sql_league = """
            SELECT L.name as LeagueName,
            C.name as CountryName
            FROM League as L
            JOIN Country as C
            ON C.id = L.country_id
            ;"""
df_league = make_sql_frame(sql_league)

In [4]:
df_league

                  LeagueName  CountryName
0     Belgium Jupiler League      Belgium
1     England Premier League      England
2             France Ligue 1       France
3      Germany 1. Bundesliga      Germany
4              Italy Serie A        Italy
5     Netherlands Eredivisie  Netherlands
6         Poland Ekstraklasa       Poland
7   Portugal Liga ZON Sagres     Portugal
8    Scotland Premier League     Scotland
9            Spain LIGA BBVA        Spain
10  Switzerland Super League  Switzerland

In [5]:
sql = """
            SELECT *
            FROM sqlite_sequence
            ;"""
df = make_sql_frame(sql)
df

                name     seq
0               Team  103916
1            Country   51958
2             League   51958
3              Match   51958
4             Player   11075
5  Player_Attributes  183978
6    Team_Attributes    1458

In [24]:
sql_match = """
            SELECT Match.id, 
                    Country.name AS country_name, 
                    League.name AS league_name, 
                    season, 
                    stage, 
                    date,
                    HT.team_long_name AS  home_team,
                    AT.team_long_name AS away_team,
                    home_team_goal, 
                    away_team_goal                                        
            FROM Match
            JOIN Country on Country.id = Match.country_id
            JOIN League on League.id = Match.league_id
            LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
            LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
            ORDER by date
        ;"""
df_matches = make_sql_frame(sql_match)
df_matches.head()

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,24559,Switzerland,Switzerland Super League,2008/2009,1,2008-07-18 00:00:00,BSC Young Boys,FC Basel,1,2
1,24560,Switzerland,Switzerland Super League,2008/2009,1,2008-07-19 00:00:00,FC Aarau,FC Sion,3,1
2,24561,Switzerland,Switzerland Super League,2008/2009,1,2008-07-20 00:00:00,FC Luzern,FC Vaduz,1,2
3,24562,Switzerland,Switzerland Super League,2008/2009,1,2008-07-20 00:00:00,Neuchâtel Xamax,FC Zürich,1,2
4,24613,Switzerland,Switzerland Super League,2008/2009,2,2008-07-23 00:00:00,FC Basel,Grasshopper Club Zürich,1,0

In [26]:
df_matches = add_results(df_matches)
df_matches.head()

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal,HomeWin,AwayWin,Draw
0,24559,Switzerland,Switzerland Super League,2008/2009,1,2008-07-18 00:00:00,BSC Young Boys,FC Basel,1,2,0,1,0
1,24560,Switzerland,Switzerland Super League,2008/2009,1,2008-07-19 00:00:00,FC Aarau,FC Sion,3,1,1,0,0
2,24561,Switzerland,Switzerland Super League,2008/2009,1,2008-07-20 00:00:00,FC Luzern,FC Vaduz,1,2,0,1,0
3,24562,Switzerland,Switzerland Super League,2008/2009,1,2008-07-20 00:00:00,Neuchâtel Xamax,FC Zürich,1,2,0,1,0
4,24613,Switzerland,Switzerland Super League,2008/2009,2,2008-07-23 00:00:00,FC Basel,Grasshopper Club Zürich,1,0,1,0,0

In [28]:
df_results = calc_wins(df_matches)
print(df_results.shape)
df_results.head()

(296, 14)

,TeamName,HomeWin,HomeLoss,HomeDraw,HomeWinPct,AwayLoss,AwayWin,AwayDraw,AwayWinPct,TotalWins,TotalLosses,TotalDraws,GamesPlayed,TotalWinPct
0,1. FC Kaiserslautern,8,15,11,0.235294,18,9,7,0.264706,17,33,18,68,0.250000
1,1. FC Köln,32,39,31,0.313725,51,28,23,0.274510,60,90,54,204,0.294118
2,1. FC Nürnberg,30,34,21,0.352941,44,19,22,0.223529,49,78,43,170,0.288235
3,1. FSV Mainz 05,55,35,29,0.462185,50,33,36,0.277311,88,85,65,238,0.369748
4,AC Ajaccio,16,22,19,0.280702,30,6,21,0.105263,22,52,40,114,0.192982

In [16]:
sql_england = """
            SELECT Match.id, 
                    Country.name AS country_name, 
                    League.name AS league_name, 
                    season, 
                    stage, 
                    date,
                    HT.team_long_name AS  home_team,
                    AT.team_long_name AS away_team,
                    home_team_goal, 
                    away_team_goal                                        
            FROM Match
            JOIN Country on Country.id = Match.country_id
            JOIN League on League.id = Match.league_id
            LEFT JOIN Team AS HT on HT.team_api_id = Match.home_team_api_id
            LEFT JOIN Team AS AT on AT.team_api_id = Match.away_team_api_id
            WHERE country_name = 'England'
            ORDER by date
        ;"""
df_england = make_sql_frame(sql_england)
df_england.head()

,id,country_name,league_name,season,stage,date,home_team,away_team,home_team_goal,away_team_goal
0,1730,England,England Premier League,2008/2009,1,2008-08-16 00:00:00,Arsenal,West Bromwich Albion,1,0
1,1731,England,England Premier League,2008/2009,1,2008-08-16 00:00:00,Sunderland,Liverpool,0,1
2,1732,England,England Premier League,2008/2009,1,2008-08-16 00:00:00,West Ham United,Wigan Athletic,2,1
3,1734,England,England Premier League,2008/2009,1,2008-08-16 00:00:00,Everton,Blackburn Rovers,2,3
4,1735,England,England Premier League,2008/2009,1,2008-08-16 00:00:00,Middlesbrough,Tottenham Hotspur,2,1

In [18]:
df_england = add_results(df_england)
df_england_wins = calc_wins(df_england)
df_england_wins

,TeamName,HomeWin,HomeLoss,HomeDraw,HomeWinPct,AwayLoss,AwayWin,AwayDraw,AwayWinPct,TotalWins,TotalLosses,TotalDraws,GamesPlayed,TotalWinPct
0,Arsenal,97,21,34,0.638158,40,73,39,0.480263,170,61,73,304,0.559211
1,Aston Villa,45,57,50,0.296053,73,41,38,0.269737,86,130,88,304,0.282895
2,Birmingham City,14,7,17,0.368421,22,7,9,0.184211,21,29,26,76,0.276316
3,Blackburn Rovers,29,26,21,0.381579,45,13,18,0.171053,42,71,39,152,0.276316
4,Blackpool,5,9,5,0.263158,10,5,4,0.263158,10,19,9,38,0.263158
5,Bolton Wanderers,27,29,20,0.355263,47,16,13,0.210526,43,76,33,152,0.282895
6,Bournemouth,5,9,5,0.263158,9,6,4,0.315789,11,18,9,38,0.289474
7,Burnley,11,15,12,0.289474,28,4,6,0.105263,15,43,18,76,0.197368
8,Cardiff City,5,9,5,0.263158,13,2,4,0.105263,7,22,9,38,0.184211
9,Chelsea,101,17,34,0.664474,41,75,36,0.493421,176,58,70,304,0.578947
10,Crystal Palace,20,28,9,0.350877,25,17,15,0.298246,37,53,24,114,0.324561
11,Everton,76,33,43,0.500000,50,45,57,0.296053,121,83,100,304,0.398026
12,Fulham,52,38,24,0.456140,57,19,38,0.166667,71,95,62,228,0.311404
13,Hull City,21,35,20,0.276316,44,11,21,0.144737,32,79,41,152,0.210526
14,Leicester City,19,8,11,0.500000,14,15,9,0.394737,34,22,20,76,0.447368
15,Liverpool,86,23,43,0.565789,55,64,33,0.421053,150,78,76,304,0.493421
16,Manchester City,113,21,18,0.743421,47,62,43,0.407895,175,68,61,304,0.575658
17,Manchester United,116,20,16,0.763158,35,76,41,0.500000,192,55,57,304,0.631579
18,Middlesbrough,5,5,9,0.263158,15,2,2,0.105263,7,20,11,38,0.184211
19,Newcastle United,53,44,36,0.398496,75,29,29,0.218045,82,119,65,266,0.308271
20,Norwich City,27,25,24,0.355263,47,12,17,0.157895,39,72,41,152,0.256579
21,Portsmouth,13,19,6,0.342105,22,4,12,0.105263,17,41,18,76,0.223684
22,Queens Park Rangers,15,24,18,0.263158,42,7,8,0.122807,22,66,26,114,0.192982
23,Reading,4,7,8,0.210526,15,2,2,0.105263,6,22,10,38,0.157895
24,Southampton,36,20,20,0.473684,32,24,20,0.315789,60,52,40,152,0.394737
25,Stoke City,69,40,43,0.453947,80,29,43,0.190789,98,120,86,304,0.322368
26,Sunderland,49,56,47,0.322368,78,29,45,0.190789,78,134,92,304,0.256579
27,Swansea City,37,27,31,0.389474,49,25,21,0.263158,62,76,52,190,0.326316
28,Tottenham Hotspur,88,28,36,0.578947,51,63,38,0.414474,151,79,74,304,0.496711
29,Watford,6,7,6,0.315789,10,6,3,0.315789,12,17,9,38,0.315789
30,West Bromwich Albion,47,52,34,0.353383,66,28,39,0.210526,75,118,73,266,0.281955
31,West Ham United,55,46,32,0.413534,66,25,42,0.187970,80,112,74,266,0.300752
32,Wigan Athletic,28,34,33,0.294737,54,22,19,0.231579,50,88,52,190,0.263158
33,Wolverhampton Wanderers,16,28,13,0.280702,33,9,15,0.157895,25,61,28,114,0.219298

In [12]:
# df3 = df2.groupby(['home_team'])['HomeWin', 'AwayWin', 'Draw'].sum()
# df3['HomeWinPct'] = df3['HomeWin'] / (df3['HomeWin'] + df3['AwayWin'] + df3['Draw'])
# df3.rename(columns = {"AwayWin" : "HomeLoss", "Draw": "HomeDraw"}, inplace = True)

In [13]:
# df4 = df2.groupby(['away_team'])['HomeWin', 'AwayWin', 'Draw'].sum()
# df4['AwayWinPct'] = df4['AwayWin'] / (df4['HomeWin'] + df4['AwayWin'] + df4['Draw'])
# df4.rename(columns = {"HomeWin" : "AwayLoss", "Draw" : "AwayDraw"}, inplace = True)

In [52]:
# df5 = pd.concat([df3,df4], axis =1)

In [53]:
# df5['TotalWins'] = df5['HomeWin'] + df5['AwayWin']
# df5['TotalLosses'] = df5['HomeLoss'] + df5['AwayLoss']
# df5['TotalDraws'] = df5['HomeDraw'] + df5['AwayDraw']
# df5['GamesPlayed'] = df5['TotalWins'] + df5['TotalLosses'] + df5['TotalDraws']
# df5['TotalWinPct'] = df5['TotalWins'] / df5['GamesPlayed']

In [54]:
# df5.reset_index(inplace = True)
# df5.rename(columns = {"index": "TeamName"}, inplace = True)

In [19]:
# df5